{% extends 'base.html' %}

{% block title %}Volunteer{% endblock %}

{% block content %}
<style>
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;

    }
    form {
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        background-color: #fff;
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5rem;
        color: #333;
    }
    .form-group {
        margin-bottom: 20px;

    }
    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .form-control {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #ced4da;
    }
    .btn {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
    }
    body {
        background-image: url('https://tse3.mm.bing.net/th?id=OIP.m7Ylbn1n25ilZ1FeK1NsGAHaGM&pid=Api&P=0&h=180.jpg');

    }
    .footer{
    color:black;
    }

</style>

<div class="container mt-5">
    <h2 class="mb-4">Volunteer with Us</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.contact_number.id_for_label }}" class="form-label">Contact Number</label>
            {{ form.contact_number }}
        </div>
        <div class="form-group">
            <label for="{{ form.address.id_for_label }}" class="form-label">Address</label>
            {{ form.address }}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
